@media (min-width:768px) and (max-width:1024px){

.nav-bar{
grid-template-columns:1fr auto;
gap:20px;
padding:0 30px;
}

.main-nav{
grid-column:span 2;
justify-content:center;
margin-top:15px;
gap:30px;
}

.search-container{
width:240px;
}

.hero{
flex-direction:column;
height:auto;
padding:60px 5%;
text-align:center;
}

.hero-left{
width:100%;
padding:0;
align-items:center;
}

.hero-content{
margin:0;
padding:0;
left:0;
}

.title{
font-size:48px;
white-space:normal;
}

.subtitle{
font-size:24px;
}

.description{
max-width:500px;
}

.hero-right{
width:100%;
justify-content:center;
margin-top:40px;
}

.right-img{ 
bottom: -100px; 
position: relative; 
left: 200px; 
}

.leaves-img{
width:260px;
right: 51px;
bottom:-10px;
}

.gel-img{
height:120px;
left:40px;
bottom:120px;
}

.features{
gap:60px;
padding:40px;
}

.features img{
height: 80px;
}

.products-inner{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px;
justify-items:center;
}

.product-card{
width:220px;     
}

.review-cards{
flex-wrap:wrap;
gap:30px;
}

.review{
width:280px;
}

.footer-grid{
grid-template-columns:repeat(2,1fr);
gap:40px;
}

}